/*********×¢²á******/
*{margin:0;padding:0;}
.xiabianju{height:20px;}
body{
    padding:0px;
    margin:0px;
    background-color:#ebebeb;/*所有页面的背景颜色*/
}
input{-webkit-appearance:none;}
.cl{
    clear:both;
}
.touxiang1{
    margin:30px auto;
    padding:0;
    width:120px;
    height:120px;
    text-align:center;
    box-shadow: 0 0 10px 0 #b9b9b9;
    border-radius: 70px;
    background-color:#fdfdfd;}
.tupian2{
    width:120px;
    height:120px;
    border-radius:50%;
}
.biaodan1{
    width:100%;
}
.shurukuang1{
    font-size:16px;
    border:0px;
    height:40px;
    margin-left:10%; 
    background-color:#ffffff;
    width:80%;
    margin-top:15px;
    border-radius:5px;
    padding:5px 5px 5px 10px;
}
.yonghuxieyi{
    border:0px;
    height:40px;
    margin-left:10%;
     width:80%;
     margin-top:15px;
     border-radius:5px;
     padding:5px;
 }
.yonghuxieyi img{
    height:30px;
    width:30px;
    border-radius:50%;
    float:left;
}
.yanzhengma{
    border:0px;
    height:40px;
    margin-left:10%; 
    background-color:#ffffff;
    width:80%;
    margin-top:15px;
    border-radius:5px;
}
.yanzhengma1{
    font-size:16px;
    margin:0px;
    width:64%;
    border:0px;height:40px;
    background-color:#ffffff;
    border-radius:5px;
    float:left;
}
.yanzhengma2{
    margin:0px;
    width:35%;
    border:0px;
    height:40px;
    background-color:#ff6f0e;
    color:#ffffff;
    border-radius:5px;
}
.niu1{
    font-size:20px;
    background-color:#ff6f0e;
    text-align:center;
    border:0px;
    color:#ffffff;
    height:40px;
    margin-left:10%;
    width:83%;
    margin-top:15px;
    border-radius:5px;
    padding:5px;
    -webkit-appearance:none;  /*去掉iPhone按钮圆角的--默认样式*/
    
}
/*********search_list star******/
.list-search{
    padding:8px;
    background-color:#464648;
    width:100%;
    box-sizing:border-box ;
}
.listwai{
    background-color:#ffffff;
    padding:5px;
    border-radius:5px;
}
.listlogo{
    float:left;
    width:25px;
}
.listkuang{
    float:left;
    height:25px;
    padding-left:5px;
    border:0;
    font-size:16px;
    line-height:25px;
}

/*********search_list-end******/


/*********List******/
.main-top{
    background-color:#464648;
    padding:0px 0px 0px 0;
    height:48px;
    padding:5px;
    box-sizing: border-box;}

.location{
    float:left;
    color:#ffffff;
    background-color:#464648;
    padding: 5px ;
    width:16%;    
    text-align:center;
    height:28px;
    line-height:28px;
    font-size:18px;

}
.inputall{
    
    padding:0 0 0 5px;
    margin-left:0px;
    margin-top:1px;
    background-color:#ffffff;  
    float:left;
    border-radius:5px;
    border:0px;
    width:65%;
    height:35px;

}
.input{
    margin-top:0px;
    height:35px;
    padding:0px 0px 0px 5px;
    border:0px;
    font-size:16px;
    width:85%;
    line-height:35px;
    /*font-size:18px;*/
   
}
.search-logo{
    b1ackground-color:yellow;
    float:left;
    height:20px;
    padding:8px 0  7px 0;
}
.btn{
   
    margin-left:10px;
    height:30px;
    line-height:38px;
    margin-top:2px;
    border:0px;
    text-align:center;
}

.navk{
    text-align:center;
    border-bottom:1px solid #dcdcdc;
    background-color:#ffffff;
}
.lb{
    float:left;
    width:23%;
    list-style:none;
    text-align:center;
}
.lb img{
    width:12px;
    float:left;
    margin-left:10px;
    padding-top:3px;
}
.lnav{
    text-align:center;

}
.tiaojian{
    float:left;
    text-align: center;
}
.line{
    float:left;
}
.line img{
    height:20px;
    float:left;
}

.messageall{
    background-color:#ffffff;
    margin:0;
    padding:0 auto;
}
.message{
    padding:10px 15px 10px 15px;  /*列表边距，本来右边为0px；*/
    border-bottom:1px solid #dcdcdc;
    box-sizing:border-box;

}
.photo{
    width:70px;/*25%;*/
    height:80px;
    float:left;
}

.house-message{
    width:72%;
    float:left;
    margin-left:8px;
    padding-right:0px;
}
.house-name{
    float:left;
}
.race{
    font-size:15px;
    padding-top:8px; background-color:1red;}
.house-width{
    float:left;
    color:#5f5f5f;
}
.area{
    float:left;
    font-size:15px;
    padding-top:1px;
    color:#5f5f5f;
   
   
}
.money{
     font-size:15px;
    float:right;
    color:#ff6f0d;
}
.line2{
    height:15px;
    padding-right:8px;
    padding-left:8px;
    float:left;
}
.fiftment{
    color:#ffffff;
    background-color:#01c6f3; 
    padding-left:2px;
    padding-right:2px;
    text-align:center;
    margin-left:8px;
    margin-top:0px;
    font-size:12px;
    float:left;
}
.way-line{
    float:left;
    color:#01c6f3;
    font-size:14px;
}
.distance{
    float:right;
    font-size:14px;
}
.jianju{padding-top:8px;}


/*********regional-resault******/
.lr{
    float:left;
    width:23%;
    list-style:none;
    text-align:center;
}
.lr img{
    width:10px;
    float:left;
    margin-left:5px;
    padding-top:3px;
}
.regional-width{
    float:left;
    color:#5f5f5f;

}

/*********rent-resault******/

.lre{
    float:left;
    width:26%;
    list-style:none;
    text-align:center;
}
.lre img{
    width:12px;
    float:left;
    margin-left:13px;
    padding-top:3px;
}

/*********house_details star******/


/*轮播图 star*/
.main_visual{height:242px;border-top:1px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{height:242px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:242px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:242px;}
.main_image li span{display:block;width:100%;height:242px}
.main_image li a{display:block;width:100%;height:242px}
.main_image li .img_1{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_2{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_3{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_4{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_5{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_6{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_7{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_8{background:url('../imgs/img_main_1.jpg') center top no-repeat}
.main_image li .img_9{background:url('../imgs/img_main_1.jpg') center top no-repeat}

/*小圆点*/
div.flicking_con{position:absolute;top:230px;left:50%;z-index:999;width:200px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../imgs/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
/*左右按钮*/
#btn_prev{background:url(../imgs1/hover_left.png) no-repeat left top;left:10px;}
#btn_next{background:url(../imgs1/hover_right.png) no-repeat right top ;right:10px;}
/*轮播图 end*/
.all{
    margin:-70px auto;
    position:absolute;
    width:100%;
    box-sizing:border-box;
     z-index:99999;
     margin-bottom:40px;
}
.foc{
    background-color:#ff6f0d;
    color:#ffffff;
    text-align:center;
    padding:12px 0;
    border-radius:5px;
    font-size:18px;
}
.whit{
    margin-top:15px;
    background-color:#ffffff;
    color:#888888;
    font-size:16px;
    border-radius:5px;
    width:100%;
    padding-bottom:2px;

}
.housename{
    padding:15px;
    border-bottom:1px solid #dcdcdc;
}
.housemoney{
    padding:10px 0 10px 0;
    border-bottom:1px solid #dcdcdc;
    text-align:center;
}
.housemoney li{
    width:32.9%;
    border-left:1px solid #dcdcdc;
    color:#5f5f5f;
    float:left;
    text-align:center;
    list-style: none;
}
.houssdetails{
    text-align:center;
    color:#959698;
    padding:10px;
}
.other{
    padding:10px;
    border-bottom:1px solid #dcdcdc;
}
.otherleft{
    float:left;
    width:44.5%;
}
.otherright{
    float:right;
    width:55.5%;
}
.spa{
    color:#333333;
}
.guanzhu{
    float:left;
    text-align:center;
    width:50%; 
    box-sizing:border-box;
    padding:10px;
    color:#333333;
}
.lookhouse{
    float:right;
    text-align:center;
    background-color:#ff6f0e;
     box-sizing:border-box;
     width:50%;
     padding:10px;
     color:#ffffff;
}
.tantxt{
    color:#333333
    ;padding:15px;
    border-bottom:1px solid #dcdcdc;
}
.tantime{
    float:left;
    box-sizing: border-box;
    padding:10px;
    border-left:1px solid #ffffff; 
    color:#ff6f0e;
    width:50%;
    text-align:center;
    border-radius:0 0 5px 5px;
}
.tannext{
    float:right;
    box-sizing: border-box;
    padding:10px; 
    color:#888888;
    width:50%;
    border-left:1px solid #dcdcdc;
    text-align:center;
    border-radius:0 0 5px 5px;
}

/*********house_details end******/

/*********supply-list star******/
.appoint{        /*预约状态*/
    width:100%;
    background-color:#ffffff;
    border-bottom:1px solid #dcdcdc;
    padding:13px 0 13px 0;
    box-sizing: border-box;
    font-size:18px;
}
.appoint li{
    float:left;
    text-align:center;
    width:33%;
    background-color:#ffffff;
    list-style:none;
     border-left:1px solid #dcdcdc;    
}

.choosekuai{   
    float:right;
}
.choose{  /*复选的样式*/

}  
.listbtn{       /*下边按钮*/
    position:fixed;
    width:100%;
    background-color:#ffffff;
    bottom:0px;
    text-align:center;
    box-sizing: border-box;   
}
.listbtn li{
    float:left;
    list-style: none;
    text-align:center;
    padding:13px;
    box-sizing: border-box; 
    color:#ffffff;
    font-size:18px;
}
.checkall{
    width:22px;
    height:auto;
    vertical-align:middle;
    margin-right:3px;
}
/*********supply-list end******/

/*********supply1 star******/
.list-house-width{
    float:left;
    color:#5f5f5f;
}
.read-messageall{
    
    margin:0;
    padding:0 auto;
}
.appoint-order{
    background-color:#ffffff;
    margin-top:15px;
}
.read-counselor{
    padding:10px 15px 10px 15px;;
    border-bottom:1px solid #dcdcdc;
   
}
.counselor-logo{
    width:60px;
    height:60px;
    float:left;
    border-radius:50%;
}
.counselor-message{
    float:left;
    margin-left:10px;
}
.counselor-position{
    margin-top:8px;
}
.counselor-name{
    margin-top:8px;
    color:#888888;
}
.call-logo{
    float:right;    
    padding-top:17px;
    width:27px;
}
.counselor-time{
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #dcdcdc;
}
.time-day{
    color:#5f5f5f;
    float:left;
}
.time-hour{
    color:#888888;
    float:left;
    margin-left:15px;
}
.look{
    float:right;
    color:#ff6f0d;
}
.read-message{
    padding:10px;
    border-bottom:1px solid #dcdcdc;
}
.read-photo{
    width:60px;
    height:60px;
    float:left;
}
.read-house-message{
    width:78%;
    float:left;
    margin-left:8px;
    padding-right:0px;
}
.read-house-name{
    float:left;
}
.read-race{
    font-size:15px;
    padding-top:4px; 
}
.read-area{
    float:left;
    font-size:15px;
    padding-top:1px;
    color:#5f5f5f;
}
.read-house-width{
    float:left;
    color:#5f5f5f;
}
.read-money{
     font-size:15px;
    float:right;
    color:#ff6f0d;
}
.read-line2{
    height:15px;
    padding-right:8px;
    padding-left:8px;
    float:left;
}
.read-fiftment{
    color:#ffffff;
    background-color:#01c6f3; 
    padding-left:2px;
    padding-right:2px;
    text-align:center;
    margin-left:8px;
    margin-top:0px;
    font-size:12px;
    float:left;
}
.read-way-line{
    float:left;
    color:#01c6f3;
    font-size:12px;
}
.read-distance{
    float:right;
    font-size:14px;
}
.read-jianju{padding-top:4px;}

/*********supply1 star******/


/*********comment star******/



/*********comment end******/


/*********supply-details star******/

.details-read-messageall{
    margin:0;
    padding:0 auto;
}
.details-appoint-order{
    background-color:#ffffff;   
}
.details-read-counselor{
    padding:10px 15px 10px 15px;;
    border-bottom:1px solid #dcdcdc;  
}
.details-counselor-logo{
    width:60px;
    height:60px;
    float:left;
    border-radius:50%;
}
.details-counselor-message{
    float:left;
    margin-left:10px;
}

.details-counselor-name{
    margin-top:8px;
    color:#333333;
}

.details-counselor-time{
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #dcdcdc;
}
.details-time-day{
    color:#5f5f5f;
    float:left;
    color:#888888;
}
.details-look{
    float:right;
    color:#333333;
}

.details-evaluate-order{
    background-color:#ffffff; 
    margin-top: 20px;
}
.details-evaluate-counselor{
    padding:10px 15px 5px 15px;
    
}
.evaluate-list{
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #dcdcdc; 
    color:#888888;
  }
.details-evaluate-logo{
    width:50px;
    height:50px;
    float:left;
    border-radius:50%;
}
.details-evaluate-message{
    float:left;
    margin-left:10px;
}

.details-evaluate-name{
    margin-top:8px;
    color:#333333;
}
.details-evaluate-time{
    margin-top:4px;
    font-size:14px;
    color:#bbbbbb;
}

.details-evaluate-new{
    padding:0px 10px 5px 10px;
    border-bottom:1px solid #dcdcdc;
}

.details-evaluate-day{
    color:#5f5f5f;
    1float:left; 
}
.details-evaluate-star{
    margin-top:5px;
    text-align:right;
}
.details-evaluate-star img{
    width:20px;
    float:right;
    margin-left:10px;
}
.details-evaluate-look{
    float:right;
    color:#333333;
}

/*********my-house******/

.my-house-messageall{
    margin:0;
    padding:0 auto;
}
.my-house-order{
    background-color:#ffffff;   
}
.my-house-counselor{
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #dcdcdc;  
}
.my-house-logo{
    width:60px;
    height:60px;
    float:left;
    border-radius:50%;
}
.my-house-message{
    width:76%;
    float:left;
    margin-left:10px;
    }

.my-house-name{
    margin-top:21px;
    color:#333333;
    float:left;
    
}
.my-house-check{
    color:#ff6f0d;
    margin-top:21px;
    float:right;
}
.my-house-time{
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #dcdcdc;
}
.my-house-day{
    
    float:left;
    color:#888888;
}
.my-house-look{
    float:right;
    color:#333333;
}

/*********HCounselor-first******/
.counselorall{
   margin:0;
   padding:0;
   background-color:#ebebeb;  
}
.counselor-list{
    padding:15px;
    background-color:#ffffff;
    border-bottom:1px solid #dcdcdc;
}
.counselor-more{
    width:20px;
    float:right;
}
/*********HCounselor-day******/
.tankuangbg{
    margin:0px;
    padding:0px;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    width:100%;
    width:100%;
    text-align:center; 
     z-index:1999;
     margin-bottom:0px;
     display:none;

}
.tankuang{
    background-color:#ffffff;
    width:70%;
    height:100%;;
    margin:0 auto;
    margin-top:25%;
    margin-bottom:60%;
    border-radius:5px;
    
}
.hctitle{
    text-align:center;
    border-bottom:1px solid #dcdcdc;
    padding:10px;
}
.hcarea{
    padding:10px;
    border-bottom:1px solid #dcdcdc;
}
.ncarea{
    border:1px solid #dcdcdc;
    padding:5px;
    width:90%;
    height:180px;
}
.tkbtn{
    width:100%;
    text-align:center;
    color:#ff6f0d;
    background-color:#ffffff;
    border:0px;
    padding:10px;
    border-radius:5px;
}
.counselor-day{
   margin:0;
   padding:0;
   background-color:#ebebeb;  
}
.schedule{
    width:50%;
    padding:13px 0 13px 0;
    text-align:center;
    float:left;
    background-color:#ffffff;
}
.schedule li{
    list-style:none;
    border-right:1px solid #dcdcdc;
}



.schedule-message{
    margin-top:15px;
    background-color:#ffffff;
    padding-left:10px;
}
.schedule-head{
    padding:10px 10px 10px 0;
    border-bottom:1px solid #dcdcdc;
}
.schedule-name{
    float:left;
    color:#5f5f5f;
}
.schedule-time{
    float:right;
    color:#888888;
}
.schedule-last{
    padding:10px 10px 10px 0;
    border-bottom:1px solid #dcdcdc;
}
.schouse-img{
    float:left;
}
.schouse-img img{
    width:70px;
}
.schouse-news{
    width:75%;
    float:right;
    margin-left:3px;
}
.schouse-name{
    float:left;
    color:#2b2b2b;
}
.schouse-money{
    float:right;
    color:#ff6f0d;
}
.schouse-message{
    color:#5f5f5f;
    margin-top:8px;
    font-size:14px;
}
.housenum{
    float:left;
}
.housearea{
    float:left;
     border-left:1px solid #dcdcdc;
     margin-left:10px;
     padding-left:10px;
}
.hc-btnall{
    padding:10px;
}
.hc-btn1{
    float:right;
    text-align:center;
    color:#555555;
    margin-right:15px;
    background-color:#ffffff;
    border-radius:3px;
    padding:10px 25px 10px 25px;
    border:0px;
}
.hc-btn2{
    float:right;
    text-align:center;
    color:#555555;
    margin-right:15px;
    background-color:#ffffff;
    border-radius:3px;
    padding:10px 25px 10px 25px;
    border:0px;
}


/*********hcounselor-day-order-5-5 star******/
.orcounselor-day{
   margin:0;
   padding:0;
   background-color:#ebebeb;  
}
.orschedule-message{
    margin-top:15px;
    background-color:#ffffff;
    padding-left:10px;
}
.orschedule-head{
    padding:10px 10px 10px 0;
    border-bottom:1px solid #dcdcdc;
}
.orschedule-name{
    float:left;
    color:#5f5f5f;
}
.orschedule-time{
    float:right;
    color:#ff6f0d;
}
.orschedule-last{
    padding:10px 10px 10px 0;
    border-bottom:1px solid #dcdcdc;
}
.orschouse-img{
    float:left;
}
.orschouse-img img{
    width:70px;
}
.orschouse-news{
    width:75%;
    float:right;
    margin-left:3px;
}
.orschouse-name{
    float:left;
    color:#2b2b2b;
}

.orschouse-message{
    color:#5f5f5f;
    margin-top:8px;
    font-size:14px;
}

.upwai{
    position:fixed;
    width:100%;
    background-color:#ffffff;
    bottom:0px;
    padding:5px 3% 5px 3%;
    text-align:center;
    box-sizing: border-box;   
}

.upnei{
    color:#ffffff;
    background-color:#ff6f0d;
    text-align:center;
    padding:10px;
    border-radius:5px;
    font-size:18px;

}
/*********hcounselor-day-order-5-5 end******/



/*********order_details star******/
.counselor-day-details{
   margin:0;
   padding:0;
   background-color:#ebebeb;  
}
.schedule-message-details{
    margin-top:15px;
    background-color:#ffffff;
    padding-left:10px;
    border-bottom:1px solid #dcdcdc;
}
.schedule-head-details{
    padding:10px 10px 10px 0;
    
}
.schedule-name-details{
    float:left;
    color:#888888;
}
.schedule-time-details{
    float:right;
    color:#333333;
}

/*********order_details end******/



/*********order_upload star******/
.counselor-day-upload{
   margin:0;
   padding:0;
   background-color:#ebebeb;  
}
.schedule-message-upload{
    margin-top:15px;
    background-color:#ffffff;
    padding-left:10px;
    border-bottom:1px solid #dcdcdc;
}
.schedule-head-upload{
    padding:5px 5px 3px 0;

    
}
.schedule-name-upload{
    padding:5px 5px 5px 0;
    float:left;
    color:#888888;
}
.schedule-time-upload{
    padding:5px 5px 0px 0;
    float:right;
    text-align:right;
    color:#333333;
    border:0;
    font-size:16px;
    
}
.orderbtn{
    color:#ffffff;
    background-color:#ff6f0d;
    text-align:center;
    padding:10px;
    border-radius:5px;
    font-size:20px;
    border:0;
    width:100%;
}
/*********order_upload end******/

/*******housebelong satr*******/
.belong-search{
    padding:8px;
    background-color:#464648;
}
.searchwai{
    background-color:#ffffff;
    padding:5px;
    border-radius:5px;
}
.searchlogo{
    float:left;
    width:25px;
}
.searchkuang{
    float:left;
    height:25px;
    width:85%;
    padding-left:5px;
    border:0;
    font-size:16px;
    line-height:25px;

}
/*******housebelong end*******/

/*******myfllowe star*******/
.bekuai{
    background:url(../imgs/home1.png) no-repeat ;
}
.beceng{
    padding:10px;background:rgba(0,0,0,0.12);
}
.bedetalis{
    padding-top:150px;
}
.bename{
    float:left;color:#ffffff;
}
.befollowall{
    float:right;color:#ffffff;
}
.befollow{
    float:left;margin-right:5px;
}
.befollowlogo{
    float:left;width:18px;
}
/*******myfllowe end*******/


/*******myfllowe1 star*******/
.befollowarea{
    color:#ffffff;
    text-align:left;
}
.areatype{
    float:left;
}
.areatype1{
    float:left;
    margin-left:10px;
    padding-left:10px;
    border-left:1px solid #ffffff;
}
/*******myfllowe1 end*******/


/*******feedback star*******/
.feedbackall{
    background-color:#ffffff;padding:10px;
}
.feedbacktext{
    border:1px solid #dcdcdc;
    padding:5px;
    margin:0 auto;
    height:180px;
    width:100%;
    box-sizing:border-box;
    font-size:16px;
}


/*******feedback end*******/


/*********wode******/
.wode-header{ background-color:#FFFFFF; 
              background-image:url(../imgs/10.png); 
              background-position:center; 
              width:100%; 
              background-repeat:no-repeat;
              text-align:center;
              
              }
.wode-touxiang{
    
    width:100px;
    height:100px;
    float:left;
    border-radius:50%;
    border:4px solid #FFFFFF;
    margin-top:30px;
    margin-left:34%;            
               }
.wode-shezhi{   
               margin-top:8px;
               position:fixed;
               width:24px;
               right:20px;
                           
               }

.wode-name{ text-align:center;
            font-size:20px;
            
            }
.wode-piao{
            background-color:#FFFFFF;
            width:20px;         
            }
           
.wode-mune{
    color:black;
    float:left;
    font-size:18px;
    padding-left:0px;
  
}
.wode-arrow{
           float:right;
           margin-top:5px;
           margin-right:5px; 
          width:15px;       
}

.wode-tubiao{float:left;  padding:8px 5px 6px 10px;  }
.wode-tubiao img{ width:23px; margin-top:5px;}

.wode-details-counselor-time{
    padding:10px 0px 10px 0px;
    float:left;
    width:88%;
    margin-right:0px;
     
         border-bottom:1px solid #dcdcdc; 
    
}

.wode-p-1{ font-size:20px;
           color:#000000; 
           text-align:center; 
           margin-bottom:5px; 
           float:left; 
           }
.wode-p-2{ font-size:20px;
         color:#01c6f3; 
         text-align:center;
          float:right;
            }
.jiben-details-counselor-logo{
    width:60px;
    height:60px;
    float:right;
    border-radius:50%;
}
.jiben-details-time-day{
    
    float:left;
    color:#888;
    padding-top:20px;
    }
.jiben-button{ color:#FFFFFF;   
                background-color:#FF660D;
                border:none;
                font-size:20px;
                width:100%;
                height:40px;
                border-radius: 5px;               
                }
.jiben-details-appoint-order{
    background-color:#ffffff; margin-bottom:0px;
    padding:5px 5px 5px 5px;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
          
}
.jiben-xingbie{
                float:right;
            }
.fangyuan-logo{
    width:60px;
    height:60px;
    float:left;
    border-radius:50%;
}
.fangyuan-p{ float:right; color:#ff764d; margin-top:20px; } 
.wode-details-time-day{
    color:black;
    float:left;
    font-size:16px;
    
}
.wode-time{
             color:#bbb;
    float:left;
    margin-left:10px;
    font-size:12px;
    margin-top:5px;
             }
.dingdan-heji{ float:left;
                color:#000000;
                font-size:18px;
                line-height:58px;
                margin-left:15px;
                
                }
.dingdan-fuhao{ float:left; color:#ff764d; font-size:18px;line-height:58px;}
.dingdan-money{ float:left; color:#ff764d; font-size:24px;line-height:55px;}                
.dingdan-button{ color:#FFFFFF;   
                background-color:#FF660D;
                float:right;
                font-size:24px;
                width:40%;
                height:60px;
                pading:20px 20px 20px 20px;
                 line-height:55px;          
                }
.dingdan-hetong{
                background-color:#FF64D;
                float:right;
                width:120px;
                height:80px;
                }
.dingdan-details-appoint-order{
    background-color:#ffffff; margin-bottom:0px;
    text-align:center;
    vertical-align:middle;

    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;  
    }   
.wode-footer{
               margin-left:20px;
             }  
 .dingdan-details-look{
    float:left;
    color:#333333;
}
.jiben-details-look{    float:right;
    color:#333333;
    border:none;
    width:150px;
    
    height:100%;
    font-size:18px;
    text-align:right;
    }
.jiben-details-counselor-time{
    padding:10px 15px 10px 15px;
    border-bottom:1px solid #dcdcdc;
}
.jiben-details-look-2{    float:right;
    color:#333333;
    border:none;
    width:135px;
    height:100%;
    font-size:18px;
    }
.wode-details-counselor-time-2{
    padding:10px 0px 10px 0px;
    float:left;
    width:88%;
     
         
    
}               

