/******菜单栏******/
a:link {
"color:#000; text-decoration:none;
}

.bg{background-color:#f4f4f4;rgba(0,0,0,0.5); color:#1b1b1b;margin:0px;padding:0px;}
.xiabianju{margin-top:490px;}
.xiabianju2{margin-top:50px;}
*{margin:0;padding:0;}
.main_top {
    width: 100%;
    height: 50px;
    margin: 0 ;
		position:fixed; 
		background-color:#ed7d04;#ed5c04;#e38e09;
		position:absolute;
		top:0px;
		left:0px;
		z-index:180;
		text-align:center;
		line-height:50px;
		color:#fff;
		border-bottom:1px solid #CCC;
		display:block;
		font-size:20px;
	}
.Tleft{
    float:left;
	border:0px solid #f00;
	}
.Tleft img{	
	width: 24px;
	height: 24px;
	margin:12px 10px;
	}
.Tmiddle{
    float:right;
	border:none;
	border:0px;
	outline:none;
	}
.Tmiddle img{	
	width: 24px;
	height: 24px;
	margin:12px 10px;
	}	
.Tright{
    float:right;
	border:none;
	border:0px;
	outline:none;
	}
.Tright img{	
	width: 24px;
	height: 24px;
	margin:12px 6px;
	}	
	
.Tright2{
    float:right;
	border:none;
	border:0px;
	outline:none;
	}
.Tright2 img{	
	width: 24px;
	height: 24px;
	margin:12px 6px;
	}		
	
.mohuceng1{width:100%;height:607px;background-color: rgba(0,0,0,0.5);text-align:center;margin:0px;padding:50px 0px 5px 0px;}
.zhong{width:100%;padding:0px;position:relative;margin:0 0 0 0;background-color: rgb(0,0,0);}
.xiazi{width:100%;padding:10px 0 10px 0;word-break:break-all;text-align:center;}
/******协会新闻*/
.zhong11{width:100%;padding:0px;position:relative;margin:0 0 0 0;}
.mohuceng{width:100%;background-color:r1ed;rgba(0,0,0,0.5);text-align:center;margin:0;padding:50px 0px 15px 0px;}
.xiangkuang{text-align:center;width:200px;margin:10px auto;box-shadow: 2px 2px  0 0 #dfdfdf;padding:5px;border-radius:3px;background-color:#ffffff;}
.zhong{background-color:blue;width:90%;padding:0px;position:relative;border-radius:10px;margin:0 10px 0 15px;background-color:#ffffff;}
.xiazi1{width:90%;margin:10px auto;word-break:break-all;box-shadow: 0 0  0 0 #dfdfdf;text-align:left;}
.pingjiaqu{padding:20px 0 5px 0;border-bottom:2px solid #e1e1e1;}
.neirong{float:left;padding:0 0 0 20px;box-sizing:border-box;width:80%;}/*留言框的大小*/
.xiaotouxiang{width:60px;border-radius:50%;}
.zan{width:18px;height:16px;float:left;}
.pingyu{padding-top:10px;text-align:left;}
/******活动招募******/
.shangceng{margin:0px;padding:50px 0px 5px 0px;height:125px;}
.youzi{margin:30px 30px 0 15px;padding:20px 20px 20px 15px;text-align:center;padding:auto;color:#f7531e;}
.xiaotubiaozong{float:right;}
.tubiao{float:right;margin:35px 0 0 0;}
.biaozhi{margin:20px 10px 5px 10px;box-shadow: 0 0 10px 0 #b9b9b9;width:100px;height:100px;text-align:center;border-radius: 60px;background-color: #ffffff;rgba(111,111,0,0.5);border-color:rgb(0,0,0);float:left;}
.mohuceng1{  width:100%;height:473px;background-color:#f4f4f4;text-align:center;margin:0px;padding:5px 0px 5px 0px;}
.D02 {
  width: 100%;
	height:140px;
  margin: 0 0 0 0;
	border-top:0px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	top:0px;
	left:0px;

	}
.HP_label02 {
  width: 90%;
	font-size:13px;
	color:#f00;
	margin: 9px 0 0 8px;
	padding-left:5px;
	}
.B0201 {
    width: 30%;
	height:120px;
    margin: 10px 4px  10px 8px;
	color:#999;
	text-align:center;
	font-size:12px;
	float:left;
	border:0px solid #f11;
	}
.B0201 img {
    width: 100px;
	height:120px;
    margin: 0;
	border-radius: 6px;
	}
.B0202 {
    width: 62%;
	height:120px;
    margin: 10px 0px 5px 5px;
	color:#666;
	text-align:center;
	float:left;
	border:0px solid #f11;
	}
.B0202 div{
	text-align:left;
	font-size:13px;
	overflow:hidden;
	}	
.B0202 p{display:inline-block; word-break:break-word;}

.xiaobiaoti{
	color:#f00;
	margin: 9px 0 0 8px;
	}
/******个人中心******/
.mohuceng3{width:290px;border-radius:15px;text-align:center;margin:80px 20px 20px 20px;padding:10px 0px 5px 0px;}
.mohuceng4{position:fixed; color:#ffffff;bottom:0px; left:0px;  width:100%;background-color:#333333;text-align:center;margin:0px;padding:5px 0px 5px 0px;}
.mohuceng4 img{height:20px;}
.touxiang{margin:10px 120px 5px 80px;padding:0;width:120px;height:120px;box-shadow: 0 0 10px 0 #b9b9b9;text-align:center;border-radius: 70px;background-color:#ffffff;#f4f4f4;border-color:rgb(0,0,0);}
.tupian1{width:130px;height:130px;border-radius:50%;}
.zong{margin:20px;}
.wenzi{text-align:left;width:240px;padding:30px 10px 5px 20px;margin:0;border-bottom:3px solid #ffffff;}
/******详细资料******/
.mohuceng15{width:290px;border-radius:20px;box-shadow: 0 0 5px 0 #b9b9b9;background-color: #fdfdfd;text-align:center;margin:30px 10px 20px 20px;padding:10px 0px 5px 0px;}
.touxiang1{margin:100px 120px 5px 100px;padding:0;width:120px;height:120px;text-align:center;box-shadow: 0 0 10px 0 #b9b9b9;border-radius: 70px;background-color:#fdfdfd;}
.tupian2{width:120px;height:120px;border-radius:50%;}
.zong1{margin:15px;}
.wenzi1{border-radius:20px; color:#535151;width:240px;padding:10px 10px 5px 10px;margin:5px;border-bottom:3px solid #fdfdfd;;}
/******帖子与发言******/
.mohuceng6{width:100%;height:617px;background-color:1red; rgba(0,0,0,0.5);text-align:center;margin:0 auto  ;padding:50px 0px 0 0px;}
.zhong1{text-align:center;height:50px;box-shadow: 0 3px  0 0 #b9b9b9;padding:10px;margin:20px 10px 0 10px;background-color: #fcfcfc;border-radius:5px;}
.riqiw{background-color:rgba(51,214,116,1);width:40px;height:40px;border-radius:8px;padding:4px;margin:0 3px 0 0;}
.riqin{background-color:rgba(210,190,192,0.3);height:38px;width:38px;border-radius:6px;padding:1px;	color:#ffffff;}
.cl{clear:both;}
.tiezi{float:left;}
/******我的动态******/
.mohuceng7{width:100%;background-color:r1ed;rgba(0,0,0,0.5);text-align:center;margin:0px;padding:10px 0px 15px 0px;}
.xiangkuang7{text-align:center;width:200px;margin:10px auto;box-shadow: 2px 2px  0 0 #dfdfdf;padding:5px;border-radius:3px;background-color:#ffffff;}
.xiazi7{background-color:#fff;width:80%;margin:5px 15px 0 20px;padding:1px 10px 40px 10px;border-radius:10px;word-break:break-all;box-shadow: 0 0  0 0 #dfdfdf;text-align:center;}
.tubiao7{float:right;margin:10px 0 0 0;color:rgba(51,214,116,1);}
.riqi7{float:left;margin:10px 0 0 0;color:#bcbcbc;}
/******我的圈子******/
.shangceng8{margin:40px 0 0 0;padding:10px 0px 5px 0px;height:230px;}
.tubiao8{float:right;margin:35px 0 0 0;}
.mohuceng4{position:fixed; color:#ffffff;bottom:0px; left:0px;  width:100%;background-color:#333333;text-align:center;margin:0;padding:5px 0px 5px 0px;}
.biaozhi8{z-index:80;position:absolute;top:215px; right:30px; box-shadow: 0 0 10px 0 #b9b9b9;width:100px;height:100px;text-align:center;border-radius: 60px;background-color: #ffffff;rgba(111,111,0,0.5);}
.mohuceng8{width:100%;background-color:#f4f4f4;text-align:center;margin:0px;padding:7px 0px 5px 0px;}
.zhong8{width:95%;padding:0px;position:relative;border-radius:10px;margin:0 2.5% 0 2.5%;background-color:#ffffff;}
.tubiao8{float:right;margin:3px 0 0 0;color:rgba(51,214,116,1);}
.riqi8{float:left;margin:8px 0 0 0;color:#bcbcbc;}
.D028 {
  width: 100%;
	1height:160px;
  margin: 0 0 0 0;
	border-top:0px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	top:0px;
	left:0px;
	}
	.B02018 {
    width: 25%;
	1height:140px;
    margin: 10px 0px  10px 5px;
	color:#999;
	text-align:center;
	font-size:12px;
	float:left;
	border:0px solid #f11;
	
	}
.B02018 img {
    width: 60px;
	height:60px;
    margin: 0;
	border-radius: 50%;
	
	}
.B02028 {
  width: 66%;
	1height:140px;
  margin: 10px 0px 5px 0px;
	color:#666;
	text-align:left;
	float:left;
	border:0px solid #f11;
	}
.B02028 div{
	text-align:left;
	font-size:13px;
	overflow:hidden;
	}	
.B02028 p{display:inline-block; word-break:break-word;}
/******我的分栏******/
.touxiang10{margin:25px auto 0 auto;padding:0;width:110px;height:110px;text-align:center;box-shadow: 0 0 10px 0 ;
	border-radius: 70px;background-color:#fdfdfd;}
.tupian10{width:110px;height:110px;border-radius:50%;}
.huodong{width:60px;height:60px;border-radius:50%;}
.kuang{ font-size:13px;margin:15px 12px 0 12px;border-radius:20px;padding:6px 3px 5px 3px;
	background-color:1#ffffff;}
.xiaokuai{width:33.33%;text-align:center;float:left;margin:0;padding:15px 0 0 0;list-style:none;}
.shuzi{border-radius:20px;background-color:rgba(51,214,116,1);width:60%;color:#f4f4f4;text-align:center;padding:0 0 0 0;margin:10px auto;}

/******首页******/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 100%;
  margin:50px 0 0 0;
}
.swipe img{
    width: 100%;height:200px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
.xiaoyuandian{
    width: 60px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
}
.xiaoyuandian ul{
    list-style: none;
}
.xiaoyuandian ul li{
  float: left;
  width: 8px;
  height: 8px;
  border: 1px solid #f4f4f4;
  margin-right: 6px;
  border-radius: 50%;
  box-sizing: border-box;
}
.xiaoyuandian ul li.cur{
    background:rgb(51,214,116);
}
.huodong11{width:65px;height:65px;border-radius:50%;}
.kuang11{ color:#f5f5f5;	margin:0;border-radius:20px;padding:4px auto;border:0;}
.xiaokuai11{border-top:1px solid #e1e1e1;color:#333333;width:25%;text-align:center;float:left;margin:0;padding:10px 0 5px 0;list-style:none;}
.shuzi11{text-align:center;padding:0 0 0 0;margin:5px auto;font-size:14px;}
.xiaobiaoti1{float:left;font-size:16px;}
.xiaobiaoti2{float:right;}

.D011 {
  width: 100%;
	height:140px;
  margin: 0 0 0 0;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	top:0px;
	left:0px;
	}
	.B02011 {
    width: 30%;
	height:120px;
    margin: 10px 4px  10px 8px;
	color:#999;
	text-align:center;
	font-size:12px;
	float:left;
	border:0px solid #f11;
	}
.B02011 img {
    width: 100px;
	height:120px;
    margin: 0;
	border-radius: 6px;
	}
.B02012 {
    width: 62%;
	height:120px;
    margin: 10px 0px 5px 5px;
	color:#666;
	text-align:center;
	float:left;
	border:0px solid #f11;
	}
.B02012 div{
	text-align:left;
	font-size:13px;
	overflow:hidden;
	}	
.B02012 p{display:inline-block; word-break:break-word;}
/******消息******/
.Nmohuceng{width:100%;background-color:r1ed;rgba(0,0,0,0.5);text-align:center;margin:0;padding:50px 0px 0px 0px;}
.Nw{padding:5px 0 5px 0;border-bottom:2px solid #e1e1e1;}
.Nn{float:left;padding:0 0 0 10px;width:77%;}
.Nt{width:60px;height:60px;border-radius:50%;}
.Np{padding-top:3px;text-align:left;width:100%;}
.Nriqi{float:left;color:#b5b5b5;font-size:15px;margin-top:2px;}
/******聊天******/

#send_message {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: rgb(240, 240, 240);
    padding: 2%;
    box-sizing: border-box;
}

#send_message input {
    width: 80%;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block;
    float: left;
    font-size: 1em;
    border-radius: 5px;
    word-wrap: break-word;
    padding-left: 10px;
    box-sizing: border-box;
}

#send_message button {
    width: 18%;
    height: 30px;
    placeholder: 发送;
    font-size: 1em;
    line-height: 1em;
    float: right;
    background-color: rgb(240, 240, 240);
    border: none;
    border-left: 1px solid rgb(210, 210, 210);
}

main#chat {
    /* main绝对定位，进行内部滚动 */
    position: absolute;
    top: 40px;
    bottom: 40px;
    /* 使之可以滚动 */
    overflow-y: scroll;
    /* 增加该属性，可以增加弹性 */
    -webkit-overflow-scrolling: touch;
}
main#chat {
    width: 100%;
    padding:0;
}

ul#chat_list li {
    margin: 10px;
}

ul#chat_list li div.user_img {
    float: left;
}

ul#chat_list li div.user_img img {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

ul#chat_list li div.user_mes {
    float: left;
    max-width: 60%;
    margin-left: 14px;
}

ul#chat_list li div.user_mes span {
    font-size: 1em;
}

.send_left {
    position: relative;
    font-size: 1em;
    background: rgb(230, 230, 230);
    border-radius: 6px;
    /* 圆角 */
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-top: 5px;
}

.send_left .arrow_left {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: rgba(0, 0, 0, 0) rgb(230, 230, 230) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

ul#chat_list li div.my_img {
    float: right;
}

ul#chat_list li div.my_img img {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

ul#chat_list li div.my_mes {
    float: right;
    max-width: 60%;
    margin-right: 14px;
    position: relative;
}

ul#chat_list li div.my_mes span.my_name {
    position: absolute;
    right: 0;
    text-align: right;
    height: 50px;
    min-width: 300px;
}

ul#chat_list li div.my_mes span {
    font-size: 1em;
}

.send_right {
    min-height:38px;
    position: relative;
    min-width: 40px;
    background: rgb(80, 210, 155);
    border-radius: 6px;
    /* 圆角 */
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-top: 25px;
}

.send_right .arrow_right {
    position: absolute;
    top: 10px;
    right: -20px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 10px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(80, 210, 155);
}

.chat_list li:last-child {
    margin-bottom: 100px;
}

/*.Lmohuceng{width:100%;background-color:1red;rgba(0,0,0,0.5);text-align:center;margin:0;padding:50px 0px 0px 0px;}
.Lriqi{height:25px;line-height:25px; margin:auto;width:50%;color:#ffffff;font-size:15px;margin-top:25px;background-color:#b5b5b5;border-radius:5px;}
.Lw{padding:5px 0 5px 0;margin-top:20px;background-color:1green;}
.Lt{width:40px;height:40px;border-radius:3px;background-color:1blue;}
.Lp{padding:3px 3px 3px 5px;text-align:left;width:75%;float:left;background-color:#ffffff;margin-left:5px;border-radius:3px;min-width: 60px;}
.Lhw{padding:5px 0 5px 0;margin-top:20px;background-color:1red;}
.Lht{width:40px;height:40px;border-radius:3px;background-color:1blue;}
.Lhp{padding:3px 5px 3px 3px;text-align:left;width:75%;border-radius:3px;float:right;margin-right:5px;background-color:green;display:block;}*/


.main_right {
    width: 100%;
    height: 100%;
    margin: 0;
	  position:fixed;
	  top:0px;
	  right:0;
	  z-index:880;
	  display:none;
	}
.main_right_menu{
    width: 230px;
    height: 120%;
    margin: 0;
    
		background-color:rgba(31,31,31,0.8);(255,247,215,0.8);##fff7d7;
		float:right;
		z-index:900;
		border-right:1px solid #ddd;
		background-color:1red;
	}
.main_right_menu a{
			color:#f5f5f5;
}	

.main_right_list {
    width: 90%;
    height: 50px;
    margin: 0;
		color:#333;
		border-bottom:1px solid #ddd;
		float:right;
		line-height:50px;
		font-size:14px;
		background-color:blue;
	}	
.main_right_list img {
		width: 30px;
		float:left;
		margin:10px;
		background-color:y1ellow;
}
.main_right_list div{
		height:50px;
		width:50px;
		float:left;
		background-color:green;
}
.main_right_list div:hover{
		background-color:#cdffc9;
		border-radius:4px;
}
.main_right_bg{
    width: 100%;
    height: 100%;
    margin: 0;
	}



/******搜索******/
.Smohuceng{width:100%;background-color:1red;rgba(0,0,0,0.5);margin:0;padding:50px 0px 0px 0px;}
.biaodan1{background-color:1yellow;padding:10px 0px 5px 15px;}
.Sall{background-color:1black;border-radius:5px;width:90%;}
.Slogo{float:left;}
.Slogo img{width:25px;height:25px;padding-top:4px;}
.shurukuang1{font-size:16px;border:0px;height:25px;
	            background-color:#ffffff;width:75%;
	            border-radius:5px;margin-left:5px;
	            padding:5px 5px 5px 10px;background-color:1blue;}
.niu1{background-color:#ff6f0e;float:left;
	    text-align:center;border:0px;color:#ffffff;
	    height:25px;margin-left:40px;width:50px;
      margin-top:10px;border-radius:5px;padding:3px;}
.Sputall{display:none;background-color:1green;padding:10px 15px 10px 15px;}
.Sput{background-color:1red;border-bottom:1px solid #d0cfcf;padding:10px 10px 5px 10px;margin-top:5px;}
/*云动态*/
.yunlogo{float:left;width:100px;position:fixed;}
.yunmessage{padding-bottom:0px;margin-left:100px;}